@import url("Navbar.css");
.spacing {
  margin-top: 5rem;
}
h1 {
  text-align: center;
}
.text-box {
  background-color: rgb(150, 197, 255);
  border-radius: 8px;
  width: 40%;
  line-height: 2rem;
  font-size: 1rem;
}
.image-big {
  width: 40%;
  height: 40%;
  border-radius: 8px;
}
.organize {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  justify-content: space-evenly;
}
.text-title {
  margin-top: 2rem;
}
.card-box {
  width: 25rem;
  height: 37.5rem;
  border-radius: 8px;
  border-color: rgb(128, 194, 255);
  border-style: solid;
  transition: 1s;
}
.card-box:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.card-spacing {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 10rem;
  margin-top: 2rem;
}
.card-up {
  font-size: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.card-author {
  text-align: center;
}
.card-detail {
  text-align: center;
  line-height: 2.3rem;
}
hr {
  width: 50%;
  background-color: orange;
}
.card-image {
  width: 100%;
  height: 14.25rem;
  object-fit: cover;
  border-radius: 0 0 6px 6px;
}
.card-box-text {
  height: 61.8%;
}
.hide {
  display: none;
}
